
<br class="pagebreak" xml:id="cgm252_pb90r" n="90r"/>
<div type="chapter" n="1" xml:id="cgm252_ch1" corresp="#cgm696_ch2">
    <p>
    <br n="1"/>Durch kainerlaÿ sache vnd paß zū wege,
    <br n="2"/>pringen müg Dann Inkauffmans weӳſe
    <br n="3"/>wann Ir wol wiſſent das kainerlaÿ volck
    <br n="4"/>ferreꝛ vnd weӳtter die wellt pauwt dann
    <br n="5"/>kauffleütt tuͦn Sunderliche <a class="term" ref="#venetians" ana="orthVar">Venedigeꝛ</a>
    <br n="6"/>Darumb diſe zwen prüder weiſe kluͦg vnd
    <br n="7"/>wol uerſtanden durch ander ſyn oder Iren
    <br n="8"/>willen Ee vnd paß möchten ain genügen tuͦn
    <br n="9"/>diſe wellt zŭ ſehen Dann mitt kauffmanſchatz
    <br n="10"/>oder In kauffmansweiſe Alſo <a class="persName" ref="#nicolau" ana="orthVar">Nicholo pollo</a>
    <br n="11"/>vnd <a class="persName" ref="#mafeu" ana="orthVar">Maffeo</a> ſein pruͦder mitt Ireꝛ kauffman
    <br n="12"/>ſchtze aufſaſſen Ire Segel gericht Geg͠n
    <br n="13"/><a type="place" ref="#levant" ana="orthVar">Dem auffgang Der Sun͞n͞en</a> In kurtzen tag͠n
    <br n="14"/>sie gen <a class="placeName" ref="#gostantinople" ana="orthVar">Conſtantinoppel</a> kom͠en vnd Ire ſach
    <br n="15"/>palde geendet hetten vnd wideꝛ umb kauf͞ft͞e
    <br n="16"/>Coſtliche clainet vnd ſu̇rbaß zügen vnd,
    <br n="17"/>koment Inn das lanndt <a class="placeName" ref="#soldadie" ana="#subVar">Seldania</a> da won͠te
    <br n="18"/>ſie ettliche zeitt Darnach weitter begeꝛt͠te
    <br n="19"/>Inn die <a class="placeName" ref="#tatarstan" ana="orthVar">Tartareӳ</a> Sie komen Inn ain statt
    <br n="20"/>DarInn wonet ain heꝛre dar was genant
    <br n="21"/><a class="persName" ref="#barchaKaan" ana="subVar">Bochaam</a> Do komen die zwen pruͦdeꝛ fur
    <br n="22"/>den heꝛren von dem geren geſehen vnd frunt˶
    <br n="23"/>lich empfang͠n wurden, Als dann groſſer
    <br  n="24"/>herren gewonhaitt iſt, fremde vnd seltza͠m
    <br n="25"/>laütte zu’ ſehen, Alſo was auch dem herren,
    <br n="26"/><a class="persName" ref="#barchaKaan" ana="subVar">Bochaam</a> wann er kainen <a class="term" ref="#latins" ana="orthVar">latteiniſchen m͠a</a>
    <br n="27"/>vor nie mer geſehen hette Darumbe er
    <br n="28"/>den zwaӳen prüdern groſſe zucht vnd eꝛe
    <br n="29"/>erpotte, Inn ſolicher maſſe Das ſie dem,
    <br n="30"/>herren alle IreClainet ſchanckten Der
    <br n="31"/>heꝛre Ir ſchanckung nicht außſchluͦge
    <br n="32"/>vnd die auff name vnd durch der groß͠n
    <br n="33"/>miltigkait willen, Die er an den zwaӳen
    <br n="34"/>prüdern ſach, Er In mere dann zwӳꝛent

    <br class="pagebreak" xml:id="cgm252_pb90v" n="90v"/>
    <br n="1"/>so vil hin wider gab vnd ſchanckte Darnach
    <br n="2"/>mitt des heꝛren vrlaube sie uon dann ſchiede
    <br n="3"/>vnd furbaß zugen u̇beꝛ lanndt vnd komen
    <br n="4"/>zŭ der groſſen statt genant <a class="placeName" ref="#barcha" corresp="#barchaKaan" ana="orthVar">Barcha</a>, Da
    <br n="5"/>wonten ſie auch ettliche zeitt vnd nicht zū
    <br n="6"/>rucke mochten komen, von kriegs wegen,
    <br n="7"/>sich angefang͠n vnd verlauffen hette zwiſch͠e
    <br n="8"/><a class="placeName" ref="#barcha" corresp="#barchaKaan" ana="orthVar">Barcha</a> vnd aines heꝛn genant <a class="persName" ref="#alau" ana="subVar">Elaw</a>, wa͠n
    <br n="9"/>er heꝛre was Inn dem ſelben taile der <a class="placeName" ref="#tatarstan" ana="orthVar">tar˶
    <br n="10"/>taꝛeӳ</a> Gegen <a ref="#levant" ana="orthVar">dem auffgange Der
    <br n="11"/>sun͠nen</a>, Darumb die zwen prŭder ſtetti˶
    <br n="12"/>klich furbaß zug͠n gegen <a ref="#levant" ana="orthVar">dem auffgang
    <br n="13"/>der Sun͞nen</a> Darnach Ir maӳnumg was
    <br n="14"/>gegen dem <a ref="#south" ana="orthVar">mittentag</a> keren vnd ainen andn͛
    <br n="15"/>weg wider gem <a class="placeName" ref="#gostantinople" ana="orthVar">Conſtantinoppel</a> komen
    <br n="16"/>Alſo ſie ſchieden von <a class="placeName" ref="#barcha" corresp="#barchaKaan" ana="orthVar">Barcha</a> vnd fu̇rbaß zug͡n
    <br n="17"/>zŭ ainer statt die iſt gehaӳſſen <a class="placeName" ref="#oucaca" ana="subVar">Euciacha</a>,
    <br n="18"/>vnd fu̇rbaß darnach ſie fuͦren u̇beꝛ das
    <br n="19"/>waſſer <a class="placeName" ref="#tigri" ana="orthVar">Tӳgriſs</a> der vieꝛtten waſſeꝛ ain̄̇
    <br  n="20"/>die auß dem <a class="placeName" ref="#paradise" ana="orthVar">paradeӳß</a> komen, darnach ſie
    <br n="21"/>zugen durch|<a type="place" ref="#desert1" ana="orthVar">ain groſſe wŭſtnüß</a> die weret
    <br n="22"/>wol sibentzehen tag Ee ſie durch die <a type="place" ref="#desert1" ana="orthVar">wüſt˶
    <br n="23"/>nüſs</a> komen vnd darInn nicht funden weẟ
    <br n="24"/>stett noch doꝛffer, Aber großer volck sie
    <br n="25"/>funden uon <a class="term" ref="#tartars" ana="subVar">Tattern</a> die da wonten In den
    <br n="26"/>felden bey Irem viche ȼ </p></div>
<!-- no new line here -->
<div type="chapter" n="2" xml:id="cgm252_ch2" corresp="#cgm696_ch3">
    <head type="rubrica" n="1" xml:id="cgm252_rub1" corresp="#cgm696_rub3">Dann die zwen pru̇de͛
    <br n="27"/>Gefaren ſind durch die <a type="place" ref="#desert1" ana="orthVar">wüſtin</a> vnd kom͠en In
    <br n="28"/>die peſten ſtatt des lanndes <a class="placeName" ref="#persie" ana="orthVar">perſia</a> darnach
    <br n="29"/>komen sie zŭ des groſſen herren der gant͠ze
    <br n="30"/><a class="placeName" ref="#tatarstan" ana="orthVar">Tartareӳ</a> genant der groß <a class="term" ref="#kaan" ana="subVar">kame</a> vnd kaӳſeꝛ
    <br n="31"/>von <a class="placeName" ref="#catai" ana="orthVar">Cathaӳ</a> vnd <a class="placeName" ref="#persie" ana="orthVar">perſia</a> ȼ
    </head>
    <p>
    <br n="32"/>Die zwen prŭder <a type="place" ref="#desert1" ana="orthVar">die groſſen wüſte</a>
    <br n="33"/>zŭ rucke gelaſſen haben vnd zŭ
    <br n="34"/>handt funden ain Edel vnd reӳche

    <br class="pagebreak" xml:id="cgm252_pb91r" n="91r"/>
    <br n="1"/>Statt genant <a class="placeName" ref="#bucara" ana="orthVar">Büchera</a> Dar künig In der,
    <br n="2"/>ſelben statt was gehaiſſen <a class="persName" ref="#barac" ana="subVar">Barachbucheꝛa</a>
    <br n="3"/>Das iſt die schönſte statt In allem <a class="placeName" ref="#persie" ana="orthVar">perſia</a>
    <br n="4"/>Inn der statt wotten die zwen prüder drew
    <br n="5"/>gantze Jare, Inn diſeꝛ zeitt es ſich füget Das
    <br n="6"/>durch Die statt zoche ain pottſchafft Des
    <br n="7"/>fürſten vnd heꝛn͛ genant <a class="persName" ref="#allauello" corresp="#alau" ana="subVar">Allauello</a> vnd ge˶
    <br n="8"/>ſandt was von ſeinem heꝛn͛ zŭ dem groſſen
    <br n="9"/>vnd hochgepoꝛnen kaÿſer <a class="persName">Alan</a> ain heꝛre deꝛ,
    <br n="10"/>gantzen <a class="placeName" ref="#tatarstan" ana="orthVar">Tartareÿ</a> vnd genant der groſs <a class="term" ref="#kaan" ana="subVar">kam</a>
    <br n="11"/>von <a class="placeName" ref="#catai" ana="orthVar">Cathaӳ</a>, Dar vorgen͠at rautheꝛe͛ odeꝛ
    <br n="12"/>bottſchafft,, schafften das fu̇r ſie kom͠en diſe
    <br n="13"/>zwen prüder vnd mitt In fro͠ude hetten wa͠n
    <br n="14"/>sie auch kainen man auß vnnſn͛ lan͞n͞dn nie
    <br n="15"/>mer geſehen hetten, vnd mitt Inanhuͦben zŭ
    <br n="16"/>reden vndvon vnſern lannden zŭ frag͠n, dar˶
    <br n="17"/>nach ain rauttherre ſprach, lieben fründe
    <br n="18"/>vnd günneꝛ volgent mir vnd mein͠e rautt
    <br n="19"/>Dauon Ir haben ſollt groſſe fröude ere vnd
    <br n="20"/>reӳchtumbe wann der groſſe kayſer vnd
    <br n="21"/><a class="term" ref="#kaan" ana="subVar">Cham</a> von Cathaӳ, kainen <a class="term" ref="#latins" ana="orthVar">lateiniſchen ma͞n</a>
    <br n="22"/>auß ewern lannden nie geſehen hette Dar˶
    <br n="23"/>vmb volgent mir vnd koment, wann Ich euch
    <br n="24"/>füren will sichere laӳbs vnd guͦttes vnd vonn
    <br n="25"/>miꝛ haben ſu̇llent guͦtte geſellſchafft vnd
    <br n="26"/>mer ich auch verſpriche von diſer raÿſe Ir
    <br n="27"/>empfahen ſolltt groſſen nutze fröude vnd eꝛe
    <br n="28"/>Die zwen prüder das heꝛren wortt ver˶
    <br n="29"/>nomen hetten vnd alles Ir geuallen was daz
    <br n="30"/>ſie mit den heꝛn͛ ains wurden mitt In diefaꝛtt
    <br n="31"/>zuͦuerpringen. Sich auff den wege rich͠te
    <br n="32"/>vndain gantzes Jar zugen Ee ſie komen do
    <br n="33"/>der groß <a class="term" ref="#kaan" ana="subVar">Cham</a> kayſer uon <a class="placeName" ref="#catai" ana="orthVar">kathaӳ</a> ſeẏn
    <br n="34"/>wonung hette, Auff demſelben wege sie

    <br class="pagebreak" xml:id="cgm252_pb91v" n="91v"/>
    <br n="1"/>maniche groſſe wunder von lannden vnd leuͨttn
    <br n="2"/>funden vnd ſahen Inn dem mere vnd auff dem
    <br n="3"/>lannde, Als Ir denn furbaß Inn diſem buͦche
    <br n="4"/>vernem͠en wertt, Do sie nu gen <a class="placeName" ref="#catai" ana="orthVar">Cathaӳ</a>
    <br n="5"/>kom͠en vnd dar voꝛgen͠at heꝛre die zwen mit
    <br n="6"/> ӳm fuͦrtte fu̇r dan kaӳſer vnd ſie Im zŭ er˶
    <br n="7"/>kennen gabe.Wann er auch kainen man nie
    <br n="8"/>geſehen hette auß vnnſn͛ lannden vnd vmbe
    <br n="9"/>der seltzam willen Er an ſie begeꝛet beӳ Im
    <br n="10"/>zü beleiben. Wann ſie uon Im nicht andeꝛs
    <br n="11"/>dann eꝛe vnd nutze haben ſüllten, vnd der
    <br n="12"/>heꝛre mitt diſen zwaӳen prüdern groſſe,
    <br n="13"/>fröude hätte vnd ſie waꝛd frag͠n von vnſn͛
    <br n="14"/>lannden ſitten vnd gewonhaitt,. Sundeꝛ˶
    <br n="15"/>lichen von den groſſen fu̇rſten vnd herren
    <br n="16"/>als von dem babſt vnd dem kaӳſer vnd wie
    <br n="17"/>ſie die gerechtigkait hiellten In Iren lan͠dn
    <br n="18"/>Sundeꝛliche das kaÿſerthuͦ͠me Auch meꝛe
    <br n="19"/>er ſie fraget von der gewonhait vnnſeꝛ,
    <br n="20"/>kriege vnd wie ſie Iren streӳtt fŭrtten Inn
    <br n="21"/>Iꝛen kriegen, Auff das die zwen prüder, dem
    <br n="22"/>kaӳſer anttwurtte͠tt/auff alle artickel, die
    <br n="23"/>er dann gefraget hette Als denn weiſe vnd
    <br n="24"/>cluͦge man͡n waren, vnd auch die ſprache
    <br n="25"/>gantz wol kunden, vnd dem kayſer kundt
    <br n="26"/>tätten, alle gewonhaitt vnnſeꝛs lanndes
    <br n="27"/>vnd heꝛren, Das dem kaӳſeꝛ alles ain groſes
    <br n="28"/>geuallen was vnd dauon beſunder fremd
    <br n="29"/>hette Alſo die zwen prüder ettliche zeit
    <br n="30"/>an das kaÿſeꝛs hofe vertriben hetten, vnd
    <br n="31"/>von Im nicht my͞n͞deꝛ gehallten waren als
    <br n="32"/>ſein andeꝛ lanndtheꝛren, Darnach es
    <br n="33"/>ſich füget das der kaӳſer ſein rătt beӳ

    <br class="pagebreak" xml:id="cgm252_pb92r" n="92r"/>
    <br n="1"/>ain ander hette vnd In fu̇rleget ſein mainu͞g
    <br n="2"/>vnd willen wie er ſein bottſchafft ſenden
    <br n="3"/>wöllte zū dem hailig͡n vatter dem babſte,
    <br n="4"/>Das Im ſeinrautt nicht abſchlüge Aber In dez
    <br n="5"/>troſten vnd Im nicht andeꝛs dann große eꝛe we͛,
    <br n="6"/>Alſo deꝛ Groß <a class="term" ref="#kaan" ana="subVar">Chame</a> an die zwen prüdeꝛ be˶
    <br n="7"/>geꝛet mitt ſampt ainem ſeinem lanntherren‧
    <br n="8"/>willig weren ſein bottſchafft zŭ dem bapſte,
    <br n="9"/>zŭ werben vnd ſeiṅe potten zŭ ſein des ſie n͠o <!-- check!! -->
    <br n="10"/>heꝛtzen fro vnd willig waren alle zeitt ſein ge˶
    <br n="11"/>pott zuͦuolbring͠n ‧ Von ſtund an der kaẏſer ſein
    <br n="12"/>briefe zuͦ dem hailigen vatter dem bapſt ließe
    <br n="13"/>machen Vnd an In begeret wolgeleꝛtte ma͞n͞n
    <br n="14"/>vnd maiſter Des Criſtenlichen glaubens⸝ Die
    <br n="15"/>ӳm vnd allem ſeinem volcke die denn die <a class="term" ref="#ydres" ana="orthVar">Ab˶
    <br n="16"/>götten</a> anpetten lere vnd anweiſu͞ng mȯchten
    <br n="17"/>geben, des rechten Criſtenlichen glauben. Vnd
    <br n="18"/>auch mere Er begerett des Oles der Ampeln
    <br n="19"/>die da prunn͞en zŭ <a class="placeName" ref="#jerusalen" ana="orthVar">Iheruſalem</a> uor dem haӳ˶
        <br n="20"/>ligen grabe vnnſeꝛs herren <a class="persName" ref="#jesus" ana="orthVar">Iheſu</a> <a class="persName" ref="#christ" ana="orthVar">Criſti</a> ȼ ‧
    </p>
</div>
<div type="chapter" n="3" xml:id="cgm252_ch3" corresp="#cgm696_ch4">
    <head type="rubrica" n="2"  xml:id="cgm252_rub2" corresp="#cgm696_rub4">
    <br n="21"/>Wie der Groſs <a class="term" ref="#kaan" ana="subVar">Chame</a> vnd kaӳſer von
    <br n="22"/><a class="placeName" ref="#catai" ana="orthVar">Chataӳ</a> Sendet <a class="persName" ref="#nicolau" ana="orthVar">Nicholo</a> vnd <a class="persName" ref="#mafeu" ana="orthVar">maffeo</a> mitt
    <br n="23"/>sampt ainem ſeinem lanntheꝛren potſchaft
    <br n="24"/>gen <a class="placeName" ref="#rome" ana="orthVar">rome</a> zü dem haylig͠n vatter dem babſt
    <br n="25"/>vnd wie es in ergieng in diſer raӳſe gen <a class="placeName" ref="#rome" ana="orthVar">ro͠m</a>
    </head>
    <p>
    <br n="26"/>NVn der Groß <a class="term" ref="#kaan" ana="orthVar">Chame</a> vnd kayſer von
    <br n="27"/><a class="placeName" ref="#catai" ana="orthVar">Chathaӳ</a> seiner bottſchafft vnd alle ſache
    <br n="28"/>empfohlen vnd ſein briefe geben hette
    <br n="29"/>Darzŭ die gu̇ldin taueln ſeines ge˶
    <br n="30"/>walltes darauff geſchriben waren seine ge˶
    <br n="31"/>pott durch alle ſein lanndt vnd künigreiche
    <br n="32"/>wie furſehen vnd erenſollte sein dreӳ rätte
    <br n="33"/>Oder pottſchaffte nach alle nott als dan͠n
    <br n="34"/>ſein gewonhaitt was wa ſein ratt odeꝛ bott
    <br n="35"/>ſchafft hinkom͞en Inn allen ſeinen lannden,

    <br class="pagebreak" xml:id="cgm252_pb92v" n="92v"/>
    <br n="1"/>man ſie fu̇r ſehen muͦſt nach aller nottu̇ꝛfft
    <br n="2"/>vnd Irem gepott als weꝛe der kaӳſer leӳp˶
    <br n="3"/>lich, Da nu die zwen prüder mit ſampt
    <br n="4"/>dem lantheꝛr͠en ſein beraitt der mitt
    <br n="5"/>namen was <a class="persName" ref="#cogotal" ana="subVar">Ghalgathalle</a>, das vrlaub
    <br n="6"/>von dem kaӳſer namen auff ſaſſen vnd rit͠te
    <br n="7"/>vnd an dem zwaintzigiſten tagc raӳſe deꝛ,
    <br n="8"/>herꝛ <a class="persName" ref="#cogotal" ana="subVar">Ghalgathal</a> kranck warde vnd
    <br n="9"/>starbe ‧ Alſo die zwen prüder Iꝛen ge˶
    <br n="10"/>ſellen lieſſen vnd Irs heꝛren gepott zŭ˶
    <br n="11"/>verprin͠gn sie ſtettlichen fu̇rbaß zu͠gn
    <br n="12"/>vnd an allen enden Inn das Kaӳſeꝛs lanndt
    <br n="13"/>sie Ire tafeln zaigten von ſtundt man In
    <br n="14"/>vndeꝛtänig. was nach allem Irem gepet͠ten
    <br n="15"/>vnd alſo ritten ſie das ſie komen zŭ der
    <br n="16"/>statt genant <a class="placeName" ref="#laias" ana="subVar">Allagyazza</a> vnd ain gantzes
    <br n="17"/>Jare geritten waren Ee ſie zŭ deꝛ gena͞te
    <br n="18"/>statt komen, Aber nicht ſtettiglichen
    <br n="19"/>geritt͠n waren vnd das uon urſache deꝛ
    <br n="20"/>groſſen waſſer regen vnd schnee weg͠n
    <br n="21"/>darumbe ſie nicht stettiglichen gereitt͠n
    <br n="22"/>mochten vnd von der statt <a class="placeName" ref="#laias" ana="subVar">Gyazza</a> ſie
    <br n="23"/>kom͞en in <a class="placeName" ref="#syria" ana="subVar">Soria</a> In die statt genant <a class="placeName" ref="#acri" ana="orthVar">Acrӳ</a>
    <br n="24"/>vnd das geſchach zŭ mitten apprille do
    <br n="25"/>ſie uon erſten begunden zū frag͠n nach
    <br n="26"/>dem haӳligen vatter dem babſte wȧn͠n
    <br n="27"/>das lanndt uon <a class="placeName" ref="#syria" ana="subVar">Soria</a> Criſten ſindt
    <br n="28"/>vnd das geleg͠n iſt zwiſchen dem hailig͠n
    <br n="29"/>lanndt vnd der wrcken Der me͛r taӳl
    <br n="30"/>des lannds iſt des Soldons uon <a class="placeName" ref="#babelonie" ana="orthVar">Babilo˶
    <br n="31"/>nẏa</a> der da heꝛre zŭ <a class="placeName" ref="#damasco" ana="subVar">Damaſto</a> iſt ‧
    <br n="32"/>vnd zŭ <a class="placeName" ref="#jerusalen" ana="orthVar">Jheruſalem</a> Cayer vnd <a class="placeName" ref="#alexandre" ana="orthVar">Allexan˶

    <br class="pagebreak" xml:id="cgm252_pb93r" n="93r"/>
    <br n="1"/>dria</a> Den zwaӳen prüdn͛ man auff Ir
    <br n="2"/>fragen antwurtt, wie dere haӳlig vatt ̾
    <br n="3"/>Der babſt genant <a class="persName" ref="#clement" ana="orthVar">Clem͠et</a> todt were,
    <br n="4"/>vnd wie die hailig kyꝛche wittibe weꝛe
    <br n="5"/>zŭ diſen zeitten von der <a class="term" ref="#roman" ana="orthVar">römiſchen</a> kӳꝛc͠he
    <br n="6"/>wegen ‧ In <a class="placeName" ref="#acri" ana="orthVar">Acrӳ</a> was ain groſſeꝛ prieſter
    <br n="7"/>oder prelatt zū ainem verweſer des
    <br n="8"/>Criſtenlichen gelaub͞es vnd gaiſtlicher
    <br n="9"/>rechte der was genant <a class="persName" ref="#teald" ana="orthVar">Miſeꝛe Dye˶
    <br n="10"/>baldo uon <a class="placeName" ref="#plajence" ana="orthVar">pӳazenza</a></a> zū dem die zwen
    <br n="11"/>prüder komen, Seines rattes begeꝛt͠te
    <br n="12"/>von geſchäffte des groſſen <a class="term" ref="#kaan" ana="subVar">ka͞ms</a> kaӳſeꝛ
    <br n="13"/>uon <a class="placeName" ref="#catai" ana="orthVar">Kathaӳ</a> Irs heꝛren weg͠n vnd Im Iꝛe
    <br n="14"/>ſache fu̇rlegten Das dem prelatten wol
    <br n="15"/>geniele vnd in ratt gabe Sie beӳtten,
    <br n="16"/>sollten der gepu̇rrt vnd hoffn͡ug des
    <br n="17"/>newen Babſts vnd dem uerkuͦnden Iꝛs hn͛
    <br n="18"/>geſchăffte Das der zweӳeꝛ prüder ‧
    <br n="19"/>wolgeuallen was vnd von <a class="placeName" ref="#acri" ana="orthVar">Acrӳ</a> ſchieden
    <br n="20"/>gen <a class="placeName" ref="#cyprus" ana="orthVar">Cӳprӳ</a> komen, Darnach gen <a class="placeName" ref="#rhodes" ana="orthVar"> rodes</a>
    <br n="21"/><a class="placeName" ref="#longado" ana="undefined"> longado</a> <a class="placeName" ref="#negrepont" ana="orthVar"> Nӳgroponte</a> <a class="placeName" ref="#heraclion" ana="subVar"> Chandie</a>  <a class="placeName" ref="#methone" ana="orthVar"> Modona</a>
    <br n="22"/>Darnach gen <a class="placeName" ref="#venese" ana="orthVar">Venedig</a>, Ire vetteꝛliche
    <br n="23"/>eꝛbe zŭ ſehen Sundeꝛlich weib vnd
    <br n="24"/>kinde Aber <a class="persName" ref="#nicolau" ana="orthVar">Nicholo polo</a> sein haußfraw͠e
    <br n="25"/>todt fandt Die er schwangeꝛ gelaſſ͠e
    <br n="26"/>hette, ainen Iung͠n suͦn der gehaӳſſ͠e
    <br n="27"/>was <a class="persName" ref="#marcoPolo" ana="orthVar">Maꝛcho polo</a>, den ſein vatter noch
    <br n="28"/>nicht geſehen hette wann er In Inn muͦtter
    <br n="29"/>laӳbe verſchloſſen lieſſe, Do er uon erſte
    <br n="30"/>außfuͦre Als Iꝛ vorvenom͞e͞n habent
    <br n="31"/>Das iſt, der Edel kaӳſeꝛlich ritter <a class="persName" ref="#marcoPolo" ana="orthVar">Marcho
    <br n="32"/>polo</a> vnd landtfarer der diſes puͦche ge˶

    <br class="pagebreak" xml:id="cgm252_pb93v" n="93v"/>
    <br n="1"/>macht . Vnd die wunder der wellte geſchri˶
    <br n="2"/>ben hatt ,. Wan͠n er uon dem groſſen <a class="term" ref="#kaan" ana="subVar">Cha͠m</a>
    <br n="3"/>kaÿſer uon <a class="placeName" ref="#catai" ana="orthVar">Kathaÿ</a> zü ainem ritter gemacht
    <br n="4"/>ward Die uorgenanten zwen prüder ~
    <br n="5"/>zwaÿ gantze Jar warttotten der erwelu͠g
    <br n="6"/>des Babſts vnd hailigen vatteꝛs, Abeꝛ es
    <br n="7"/>ſich veꝛzoch, zuͦ lang waꝛd vnd nicht lengeꝛ,
    <br n="8"/>paidten mocht, wffſaſſen und uon dannen,
    <br n="9"/>fuͦren vnd mitt In fuͦrrren den Iungen uoꝛ
    <br n="10"/>genanten <a class="persName" ref="#marcoPolo" ana="orthVar">Marcho polo</a> <a class="persName" ref="#nicolau" ana="orthVar">Nicholo polo</a> suͦn
    <br n="11"/>was, vnd wideꝛ hindeꝛ ſich fuͦꝛen gein ‧
    <br n="12"/><a class="placeName" ref="#acri" ana="orthVar">Acrӳ</a> In <a class="placeName" ref="#syria" ana="subVar">Soria</a>, Darnach gem <a class="placeName" ref="#jerusalen" ana="orthVar">Iheruſal͠e</a>
    <br n="13"/>zuͦ nemen des öls uon den Ampeln die
    <br n="14"/>da prunn͠en uor dem hailigen grabe als
    <br n="15"/>In von Irem heꝛren dem kaӳſer gepott͠n
    <br n="16"/>ward, Darnach wider In <a class="placeName" ref="#acri" ana="orthVar">Acry</a> kom͞en
    <br n="17"/>wann <a class="placeName" ref="#jerusalen" ana="orthVar">Iheruſalem</a> nicht feꝛr auß dem
    <br n="18"/>wege was, vnd urlaube zū nemen uon
    <br n="19"/>dem uerweſer, vnd legatten des <a class="term" ref="#roman" ana="orthVar">römiſch͠e</a>
    <br n="20"/>stuͦles vnd ſeine briefe nämen Irem hn͛
    <br n="21"/>vnd zü ainer gezu̇ck nüſs Ireꝛ pottſchafft
    <br n="22"/>Aber die nicht verpracht ward wan͠n
    <br n="23"/>die römiſche͡nkyꝛchen on Babſte was
    <br n="24"/>Darumbe Ir bottſchafft nach Irem will͠e
    <br n="25"/>nicht verpꝛacht möcht weꝛden, Alſo
    <br n="26"/>ſie uon <a class="placeName" ref="#acri" ana="orthVar">Acrӳ</a> ſchieden, zŭ handt in den,
    <br n="27"/>ſelben tagen dem legatten die mere kom͠e
    <br n="28"/>wie er erwellt wer zū ainem babſte
    <br n="29"/>vnd hailigen vatter, vnd ſein name we͛
    <br n="30"/><a class="persName" ref="#gregor" ana="orthVar">Gregorio</a> von ſtund an er nach ſandte
    <br n="31"/>den zwaӳen prüdern vnd In zŭ wiſſen
        <br n="32"/>tätt wie er babſt weꝛe vnd genant <a class="persName" ref="#gregor" ana="orthVar">Gre
    <br n="33"/>gorio uon pyazenza</a> Also des kaӳſeꝛs dez

    <br class="pagebreak" xml:id="cgm252_pb94r" n="94r"/>
    <br n="1"/>Groſſen <a class="term" ref="#kaan" ana="subVar">Chams</a> uon <a class="placeName" ref="#catai" ana="orthVar">Kathaӳ</a> pottſchafft
    <br n="2"/>widerumb keret zü dem hayligen vatteꝛ,
        <br n="3"/>in <a class="placeName" ref="#acri" ana="orthVar">Acrӳ</a> kom͠en, vnd der kunig uon <a class="placeName" ref="#armenie" ana="orthVar">Arme˶
    <br n="4"/>nia</a> in beraitten lieſſe ain gallen darauff
        <br n="5"/>ſie fuͦren gem <a class="placeName" ref="#acri" ana="orthVar">Acry</a> zū dem hailigen vatt ̾
    <br n="6"/><a class="persName" ref="#gregor" ana="subVar">Gregorӳ</a> ‧ vnd wurdent uon neu̇wem u͠o
    <br n="7"/>ӳm mitt groſſen frouden vnd eꝛen empfang͠e
    <br n="8"/>Vnd Im ȧndre briefe machet zŭ Irem heꝛn͛
    <br n="9"/>dem kaӳſer uon <a class="placeName" ref="#catai" ana="orthVar">Kathaӳ</a>. Er Im auch gabe
    <br n="10"/>zwen münch prediger ordens der ain
    <br n="11"/>was gena͞nt pruͦder <a class="persName" ref="#nicVicense" ana="subVar">Nicholo uon Venedig</a>
    <br n="12"/>Der ander pruͦder <a class="persName" ref="#guilTripule" ana="subVar">Wilhalm uon trypolӳ</a>
    <br n="13"/>zwen redlich vnd kunſtreych ma͞n, der
    <br n="14"/>hailigen geſchrifft Alle mitt ain ander
    <br n="15"/>auffſaſſen, vnd wider komen gen <a class="placeName" ref="#laias" ana="subVar">Giaſſa</a>
    <br n="16"/>Vnd Inn dem lanndt de͛ kunig Soldan
    <br n="17"/>uon <a class="placeName" ref="#babelonie" ana="orthVar">Babilonia</a> lag mitt groſſem volcke vnd
    <br n="18"/>alle Straſſen geprochen waꝛent Inn ſoliche͛
    <br n="19"/>maſſe das deskayſeꝛsbottſchafft In͠e ſelbs
    <br n="20"/>nicht v̑trautten die zwen münich mitt
    <br n="21"/>Inen durch ze pring͠n ‧ vnd lieſſen die ze
    <br n="22"/><a class="placeName" ref="#laias" ana="subVar">Gyaſſa</a>, bey den obröſten uon dem tem˶
    <br n="23"/>pel, vnd ouch briefe uon dem Soldan | na˶
    <br n="24"/>men vnd furbaß Irem wege nach folg͠te
    <br n="25"/>wann die zwen münich mer uon foꝛcht
    <br n="26"/>weg͠n beliben ‧ dann durch ander ſache
    <br n="27"/>willen, Do fur In die bottſchafft nicht
    <br n="28"/>mocht ſein, Alſo die zwen prüdeꝛ <a class="persName" ref="#marcoPolo" ana="orthVar">Mar˶
    <br n="29"/>cho</a> <a class="persName" ref="#nicolau" ana="orthVar">Nicholo pollo</a> ſün ſolanng rӳtten
    <br n="30"/>vnd zugen, das ſie bekom͞en zū der edeln
    <br n="31"/>statt gena͠nt <a class="placeName" ref="#curmos" ana="orthVar">Cremeſſu</a> Inn der statt
    </p>
</div>