
<!-- alte Version Objekt -->
<!------------------------->
<!-- Keywords; Iran, Parthian, Sasanian, <a globalIdentifier="globalIdentifier-fingerRings"  href ="#" id= "xmlObject2" href = "http://localhost:4200/#node2" (click) = "zoomOnNode('node2')">finger-rings-(Object-2)</a>, beads.-->



<!-- neue Version Objekt -->
<!------------------------->

<!-- Objekt-Korrekturen: (für angular Leserlichkeit der original XML-Datei)-->
<!--------------------------------------------------------------------------->
      <!--        '<rs></rs>'                =>         '<a></a>'                                     -->
      <!--        '<a type="object"...'      =>          '<a type="object">                           -->
      <!--        '<p/>'                     =>         '<p></p>'                                     -->
      <!--         '{}'                      =>         '-- --'                                       -->
      <!--         'n='                      =>         'xml_id=...'                                  -->


      <!--           automatisches einfügen der "id", "href", und des Click-Event "NodeZoom(event)" 
                                über xml_id (function in ngOnInit(){})                                -->

      <!--           NUR WENN DIE xml_id IN DER "dataTable.json" EINEM ELEMENT ZUGEHÖRIG IST          -->


<!-- EXAMPE-OBJECT -->
<!------------------->
<!-- <a type="object" xml_id="xml_0" >Jewellery</a> -->
<!-- ... -->
<!-- ... "Check DataTable" -> "xml_0"... -->
<!-- ... -->
<!-- <a _ngcontent-c1="" type="object" xml_id="xml_0" globalidentifier="Jewellery" id="xml-Jewellery" href="#rdf-Jewellery">Jewellery</a> -->


<h2><p><a type="object">Iranian </a> 
    <a type="object" xml_id="xml_0">Jewellery</a> and <a type="object">small finds</a> in
       <a type="object">religious context</a></p>
    </h2>
 <p>By <a type="object">Natascha Bagherpour Kashani</a></p>
 <p>Keywords; <a type="object" xml_id="xml_1">Iran</a>,<a type="object" 
       > Parthian</a>,<a type="object" > Sasanian</a>,<a type="object"
       > finger-rings</a>,<a type="object"> beads</a>.</p>
 <p>واژگان کلیدی: <a type="object">ایران</a>، ا<a type="object">شکانیان</a>، <a
       type="object">ساسانیان</a>، <a type="object">انگشترها</a>، <a type="object">مهره
       ها</a></p>
 <p></p>
 <p></p>
 <p>The items discovered in the <a type="object" >Cale Gar mines</a> at <a
       type="object"   >Vesnave</a> have added a <a type="property">fresh
       perspective</a> to the <a type="property">investigation</a> of <a type="object"
        >pre-lslamic religion</a>, as <a type="property">emphasized
    by</a></p>
 <p><a type="object" >Overlaet</a>, <a type="object" >J.
       Rose</a> and <a type="object"  >P. Kreyenbroek</a>.1 <a
       type="object">The finds</a> from <a type="object">Vesnave</a>
    <a type="property">make an important contribution to our knowledge</a>, not only <a
       type="property">for researching pre-lslamic religion</a>, but also for <a
       type="property">visualising</a> the <a type="object" >physical
       artefacts</a> of <a type="object" xml_id="xml_2">ancient Iran</a>.</p>
 <p>The importance of the <a type="property">study of</a>
    <a type="object">jewellery finds</a> from <a type="object">Vesnave</a></p>
 <p>In <a type="object">Vesnave</a>, <a type="object">two mines</a>
    <a type="property"  >were excavated</a> by <a type="object"
        >a team of German and Iranian archaeologists</a> in <a type="object"
       >several campaigns</a>
    <a type="object"  >from 2001 to 2004</a>.2 They <a type="property"
        >discovered,</a> mainly in <a type="object">Cale Gar 1</a>, <a
       type="object">a great number of artefacts</a>, among them <a type="object"
       >jewellery</a> - including <a type="object">many beads</a> ,<a type="object"
       >finger-rings</a>, <a type="object" >ear-rings</a> and <a
       type="object"  >pendants</a> - and <a type="object"  
       >fragments of metal sheets</a> , as well as much else. It is remarkable that these
    objects were <a type="property">found in such a con- text at Vesnave</a>, because in
       <a type="object">Iran</a> and the <a type="object">wider Near East</a>, <a
       type="object">jewellery</a>
    <a type="property">has been unearthed predominantly</a>
    <a type="object">in graves</a>. <a type="property">To excavate</a> such an amount of
       <a type="object">artefacts</a> in the <a type="object" xml_id="xml_3">Cale Gar caves</a> has
    been, apart from their importance for <a type="property">the investigation</a> of the
       <a type="object">pre-lslamic religion</a>, a milestone for research into <a
       type="object">small finds</a> in <a type="object">Iran</a> and the <a
       type="object">Near East in general</a>.</p>
 <p>The study of these objects is of great interest for the <a type="property"
       >understanding of ritual practices</a> at <a type="object">Vesnave</a>, <a
       type="property">since establishing their chronology and provenance may help broaden
       knowledge</a> of <a type="object"  >personal ornaments</a> in ancient
       <a type="object">Iran</a>.</p>
 <p><a type="object">A short introduction</a> to the <a type="object">history of
       research</a> into <a type="object">jewellery found</a> in <a type="object"
       >Iran</a></p>
 <p><a type="object">Jewellery</a> from <a type="object">the Near East</a> - which <a
       type="property">has much potential for fruitful comparisons to the finds from
       </a><a type="object">Vesnave</a>, <a type="object">especially the beads</a> -
    has been <a type="property">methodically investigated</a>
    <a type="property">by</a>
    <a type="property">a number of scholars</a>. One of</p>
 <p>C f. contributions by Overlaet, Rose and Kreyenbroek, in this volume,</p>
 <p>Stollner/Mir Eskanderi 2003.</p>
 <p><a type="property">the most famous works</a> is by <a type="object" >H.
       Beck</a> , who <a type="property" >assembled</a><a type="object"
       > the first classification system for beads</a> . Other <a
       type="object">essential publications</a> include those by <a type="object"
        >P. Francis</a> on <a type="object" xml_id="xml_5">Asian beads</a> ;
       <a type="object"  >B. Musche</a> on <a type="object">Parthian</a>
    and <a type="object">Sasanian</a> jewellery; <a type="object"  >M.
       Spaer</a> on <a type="object">glass</a> in the <a type="object" xml_id="xml_6">Israel
       Museum</a>; and a revealing article by <a type="object"  >St. J.
       Simpson</a> on <a type="object"  >Sasanian beads</a> . <a
       type="property">Wide-ranging excavation reports</a> and <a type="property"
       >investigations of jewellery</a> offer a <a type="object">spectrum of
       comparisons</a> for <a type="object">the finds</a> at <a type="object"
       >Vesnave</a>-.^ However, <a type="object" >Near Eastern
       archaeology</a> and, in particular, <a type="object" >Iranian
       archaeology</a>
    <a type="object">lack a basic study of cultic</a> and <a type="object">everyday
       material of the kind</a>
    <a type="property">found at Vesnave</a>. Regarding the <a type="object" xml_id="xml_4">Sasanian
       period</a>, <a type="object" >Simpson</a>
    <a type="property">writes</a>: “<a type="property">Corresponding studies</a> of <a
       type="object">everyday material culture</a>
    <a type="property">are scarce yet a number of sites have been excavated</a> (.,.)a</p>
 <p><a type="object">The finds</a></p>
 <p>For <a type="object">a description</a> of <a type="object" >mine Gale
       Gar 1</a> , t<a type="property">he reader is referred to the article by</a>
    <a type="object"  >Thomas Stollner</a> in <a type="object">this volume.
       A large amount of artefacts</a> were <a type="property">discovered there</a>,
    while Cale Gar 2
    <a type="property">yielded just a few finds</a> from a <a type="object">humid
       corner</a>. <a type="object">Ceramics</a>, whether <a type="object"
        >complete vessels</a> or <a type="object">fragments</a>, <a
       type="property">were found in mine 1</a>; <a type="object" >further
       fragments of textiles</a> , <a type="object" >animal bones</a> , <a
       type="object" >wood</a> and <a type="object"  >wooden
       vessels</a> , as well as <a type="object">other organic
       material</a> like <a type="object" >nuts</a> and <a type="object"
       >baked remains</a> , <a type="property">were also found
    there</a>.</p>
 <p><a type="property">Among the finds from</a>
    <a type="object">Cale Gar 1 and 2</a>, <a type="object">small finds</a> - <a
       type="object">jewellery artefacts primarily</a> - <a type="property">represent a
       significant group</a>. First and foremost, <a type="object">beads</a> and <a
       type="object">pendants</a> are <a type="object">a major group</a>, <a
       type="property"  >made by</a>
    <a type="object" >different techniques</a> and from <a type="object"
       >different materials,</a> but mainly <a type="object" >glass</a> and
       <a type="object"  >stone</a>. Furthermore, <a type="object"
        >coins</a>, <a type="object"  >metal finger</a> and <a
       type="object">ear-rings</a> and <a type="object">a glass finger-ring</a>
    <a type="property">were discovered</a>, as well as <a type="object"  
       >figurative objects</a>, <a type="object"  >inlays</a>, <a
       type="object"  >settings</a>, <a type="object"  >chain
       links</a>, <a type="object"  >a few ornaments for clothes</a>, <a
       type="object"  >bells</a> and <a type="object"  >metal
       sheets</a> (<a type="object" >plain or with figurative </a>or<a
       type="object" > plant depiction</a></p>
 <p>N. Bagherpour Kashani). Other finds include a <a type="object">glass vessel</a> and a
       <a type="object">fragment of</a>
    <a type="object">one</a>, <a type="object">an arrow head</a>, <a type="object">a
       strap-end</a>, and <a type="object">a whetstone</a>.</p>
 <p>N. Bagherpour Kashani</p>
 <p> </p>
 <p><a type="object">The date</a> of <a type="object">the Sacred Cave 1</a></p>
 <p><a type="property">So far, it has proven possible to date mine 1</a> at <a
       type="object">Vesnave</a> roughly by <a type="object">C-analysis</a> and by <a
       type="object">coin finds</a>. From the bottom of the <a type="object">cultic
       context</a>, <a type="object">charcoal</a> was <a type="object">collected</a>
    and <a type="object">analysed</a>. <a type="property">The beginning of cultic
       activity can thus be assigned to </a><a type="object">900-781 BC</a>, while <a
       type="object">the use of the site</a>
    <a type="object">seems to have ended in the early Islamic period</a>, based on the <a
       type="object">final coin find</a> (<a type="object">Fig. I</a>).10 <a
       type="property">This coin is </a><a type="object">a silver derham</a> of <a
       type="object">the Umayyad period</a>. Due to <a type="object">its state of
       preservation</a>, <a type="property">it is not possible to read the date</a>, but
       <a type="object">limits can be set between 661 and 750 AD</a>. <a type="property"
       >Other finds seem to confirm these chronological limits</a> for <a type="object"
       >the sacrificial cave</a> (see below).</p>
 <p>Although <a type="object">charcoal</a> and <a type="object">coins</a>
    <a type="property">indicate</a>
    <a type="property">the beginning and the rough end of the use of </a><a type="object"
       >the cave </a><a type="property">as a </a><a type="object">holy place</a>, <a
       type="property">they can obviously not demonstrate the kind of use</a>, <a
       type="object">the manner of deposition and the changes</a> during <a type="object"
       >the c. 1500 years of its existence</a> for <a type="property">that purpose</a>.
       <a type="property">Examining jewellery found in</a>
    <a type="object">Cale Gar 1 and 2</a>
    <a type="property">will answer some of these questions</a>. <a type="property"
       >Investigations may be able to specify the dates of the deposits</a> and <a
       type="property">give insights into the procedure of deposition.</a></p>
 <p>Following is a <a type="property">general introduction to the beads and
       finger-rings</a> from <a type="object">Vesnave</a>, followed by the presentation
    of <a type="object">selected find groups</a>, such as <a type="object">gold-in-glass
       beads</a>, <a type="object">etched carnelian beads</a> and <a type="object"
       >finger-rings with bird ornaments</a>, <a type="object">spirals</a> and <a
       type="property">one find with a </a><a type="object">conical bezel.</a></p>
 <p><a type="object">Beads</a>, <a type="object">pendants</a> and <a type="object"
       >spacers</a></p>
 <p><a type="object">Beads</a> - <a type="property">quantified simply by their
       number</a> - <a type="property">account for the largest part of small finds at
       Vesnave</a>. They <a type="property">consist of many different materials</a>, but
       <a type="object">predominantly glass</a>, and <a type="property">were fabricated
       using different</a></p>
 <p><a type="property">techniques</a>. The <a type="object">excavators</a> found <a
       type="object">beads of monochrome</a>
    <a type="object">opaque</a> or <a type="object">translucent glass</a>, and <a
       type="property">their colours were mainly</a>
    <a type="object">yellow</a>, <a type="object">green</a>, <a type="object"
       >dark/black</a>, <a type="object">brown</a> and <a type="object">different shades
       of blue</a>. <a type="property">Few beads were</a>
    <a type="object">turquoise</a>, <a type="object">lilac</a>, <a type="object"
       >orange</a> or <a type="object">white</a>. <a type="property">An analysis of the
       material has not yet been carried out</a>, therefore concerning <a type="object"
       >the opaque beads</a>, <a type="property">it is not clear whether they were
       originally manufactured of </a><a type="object">frit</a><a type="property"> or
       </a><a type="object">glass</a>; but it seems that <a type="property">they mainly
       consist of glass.12</a></p>
 <p>Some beads are <a type="object">multi-coloured</a>, <a type="property">others consist
       of two different coloured layers</a>. So-called <a type="object">mosaic beads</a>,
       <a type="object">different kinds of eye beads</a> and so-called <a type="object"
       >gold-in-glass beads</a> stand out from the <a type="object">assemblage</a>.13 <a
       type="property">Their manufacturing processes are of great interest</a>; that used
    for the <a type="object">gold-in-glass beads</a> will be explained below. Besides
    colours, the <a type="property">Vesnave beads have different shapes</a>; <a
       type="property">they vary from</a>
    <a type="object">simple spherical beads</a> to <a type="object">disc</a>, <a
       type="object">cylindrical</a>, <a type="object">double-conical</a>, <a
       type="object">rectangular</a>, <a type="object">rhombic</a>, <a type="object"
       >hexagonal shapes</a>, <a type="object">corner-less cube</a> and <a type="object"
       >so-called melon-shaped beads</a> (<a type="object">No. 6448</a>, <a
       type="object">Fig. 2</a>).</p>
 <p>Besides glass ones, <a type="object" xml_id="xml_7">stone beads</a>
    <a type="property"> make up a large proportion of the finds</a>. These are mainly <a
       type="object">carnelian beads of shapes</a>
    <a type="property">similar to those named above</a>; but <a type="object">other
       materials</a>
    <a type="property">used include</a>
    <a type="object">garnet</a>, <a type="object">jet</a>, <a type="object"
       >chalcedony</a>, <a type="object">rock crystal</a>, <a type="object"
       >hematite</a>, plus a few of <a type="object">turquoise</a> and <a type="object"
       >lapis lazuli</a> of <a type="object">poor quality</a>. More <a type="object"
       >precious beads</a> were <a type="property">made of</a>
    <a type="object">silver</a>, <a type="object" xml_id="xml_8">gold</a> and <a type="object"
       >amber</a>, while <a type="property">some other beads were made of</a>
    <a type="object">bone</a>, <a type="object">cowry</a> and <a type="object">other
       shells.</a></p>
 <p><a type="object"> INCLUDEPICTURE
       "/Users/massoomeh.niknia/Desktop/OCR-articles-final-excavation reports-germany2/4th
       article-Iranian jewellery and small finds in religious
       context-bagherpour/media/image1.jpeg" \* MERGEFORMATINET INCLUDEPICTURE
       "/Users/massoomeh.niknia/Desktop/OCR-articles-final-excavation reports-germany2/4th
       article-Iranian jewellery and small finds in religious
       context-bagherpour/media/image1.jpeg" \* MERGEFORMATINET INCLUDEPICTURE
       "/Users/massoomeh.niknia/Desktop/OCR-articles-final-excavation reports-germany2/4th
       article-Iranian jewellery and small finds in religious
       context-bagherpour/media/image1.jpeg" \* MERGEFORMATINET INCLUDEPICTURE
       "C:\\Users\\niknia.m\\Desktop\\media\\image1.jpeg" \* MERGEFORMATINET INCLUDEPICTURE
       "\\\\localhost\\Users\\oeide\\sciebo\\koln\\forskning\\besok\\Niknia\\Tagging\\Test3\\work\\media\\image1.jpeg"
       \* MERGEFORMATINET Fig. 2Glass bead from Cale Gar 1 at VeSnave. Find no. 6448. D. 1.7
       cm. Scale 1:1. Photo © DBMFig. lv Islamic coin found in Cale Gar 1 at Vesnave. Find
       no. 4456. D. 2.44 cm. Scale 1:1. Photo © DBMEarly in the twentieth century</a>, <a
       type="object">G. Eisen</a>
    <a type="property">wrote</a>: “<a type="property">A bead is a unit of a necklace</a>
    and <a type="property">perforated by one or several bores</a>”.* This definition
    should be further <a type="property">elaborated</a>. <a type="property">A bead is
       usually a small artefact of a specific shape</a> and <a type="property">made from a
       specific material</a>; <a type="property">it can be worn as a necklace with other
       beads, sewn on to textiles or connected to fibulae or other objects</a>. In <a
       type="object">Vesnave</a>, <a type="property">the beads were obviously not
       deposited in the form of necklaces</a>, <a type="property">but as single
    items</a>. Thus, <a type="property">a bead can present itself as an individual
       object.</a>
    <a type="property">Its characteristic is the</a>
    <a type="property">string-hole through the middle</a>, while <a type="property"
       >pendants have a peripheral hole and spacers two or more holes</a>. Identified at
       <a type="object">Vesnave</a> and <a type="property">fitting this
       categorisation</a> are <a type="object">several pendants</a>
    <a type="property">made of glass, stone, bronze and amber</a>
    <a type="property">and two spacer beads</a>, <a type="property">one of glass and one
       of lapis lazuli</a>.</p>
 <p> INCLUDEPICTURE "/Users/massoomeh.niknia/Desktop/OCR-articles-final-excavation
    reports-germany2/4th article-Iranian jewellery and small finds in religious
    context-bagherpour/media/image1.jpeg" \* MERGEFORMATINET INCLUDEPICTURE
    "/Users/massoomeh.niknia/Desktop/OCR-articles-final-excavation reports-germany2/4th
    article-Iranian jewellery and small finds in religious
    context-bagherpour/media/image1.jpeg" \* MERGEFORMATINET INCLUDEPICTURE
    "/Users/massoomeh.niknia/Desktop/OCR-articles-final-excavation reports-germany2/4th
    article-Iranian jewellery and small finds in religious
    context-bagherpour/media/image1.jpeg" \* MERGEFORMATINET INCLUDEPICTURE
    "C:\\Users\\niknia.m\\Desktop\\media\\image1.jpeg" \* MERGEFORMATINET INCLUDEPICTURE
    "\\\\localhost\\Users\\oeide\\sciebo\\koln\\forskning\\besok\\Niknia\\Tagging\\Test3\\work\\media\\image1.jpeg"
    \* MERGEFORMATINET </p>
 <p><a type="object">Fig. 2</a></p>
 <p><a type="object">Glass bead</a> from <a type="object">Cale Gar 1</a> at <a
       type="object">VeSnave</a>. <a type="object">Find no. 6448</a>. <a type="object"
       >D. 1.7 cm.</a>
    <a type="object">Scale 1:1</a>. <a type="object">Photo © DBM</a></p>
 <p>Fig. l</p>
 <p><a type="object">v Islamic coin</a>
    <a type="property">found in</a>
    <a type="object">Cale Gar 1</a> at <a type="object">Vesnave.</a>
    <a type="object">Find no. 4456</a>. <a type="object">D. 2.44</a> cm. <a
       type="object">Scale 1:1.</a> Photo © <a type="object">DBM</a></p>
 <p></p>
 <p><a type="object">61Iranian jewellery and small finds in religious contextEtched
       carnelian beads</a></p>
 <p>61</p>
 <p>Iranian jewellery and small finds in religious context</p>
 <p><a type="property">A significant category discovered solely in mine 1</a>
    <a type="property">are the so-called </a><a type="object">etched carnelian
    beads</a>. <a type="object">These artefacts</a>
    <a type="property">are of simple shapes and ornamented by white zig-zag lines, waves,
       dots or a “plant-like” pattern</a> (<a type="object">Fig. 3,a-c</a>). As mentioned
    above. <a type="object" xml_id="xml_9">Beck,</a> “<a type="property">the founding father of bead
       studies</a>”, was <a type="property">the first to establish a chronology of the
       manufacture of etched carnelian beads</a>. <a type="property">He distinguished
       three phases</a>: <a type="object">the early period. A, which ended ca. 2000
       BC</a>; <a type="object">the middle period, B, from 300 BC to AD 200;</a> and <a
       type="object">the late period, C, AD 600 to 1000</a>. <a type="property">This
       chronological framework is still consulted frequently as an important source for
       studies of etched carnelian beads</a>. However, <a type="object">hiatuses</a> in
    the dating are obvious. Later works by <a type="object">E. Mackay</a>, <a
       type="object">M. Dikshit</a>, <a type="object">E. During Caspers</a>, <a
       type="object">J. Reade</a>, <a type="object">A. de Waele</a> and <a type="object"
       >E. Haerinck</a>
    <a type="property">expanded</a>
    <a type="object">Beck's studies</a>, but <a type="property">did not fill the gaps
       completely</a>. Although <a type="property">no recent study of etched beads has
       succeeded in presenting an adapted chronology for the entire Near East</a>, <a
       type="object">etched carnelian beads</a>
    <a type="property">are discussed more often than other kinds of stone beads</a>,
    because, <a type="property">unlike plain carnelian beads, their ornamentation tends to
       be chronologically significant.</a></p>
 <p><a type="object">The technique of etching beads</a></p>
 <p><a type="property">Fig. 3,a-cEtched carnelian beads from Cale Gar 1 at Vesnave. Find
       nos. 1679b, 1106,1577. L 1.1 cm- 1.4 cm. Scale 2:1. Photos and drawings © DBMThe
       reason why such decoration remains preserved today</a>
    <a type="property">and has not been washed away</a>, lies in <a type="property">a
       special method of decorating stone beads</a> “used in <a type="object">South
       Asia</a>
    <a type="object">as early as the </a>
    <a type="object" xml_id="xml_10">mid-3rd millennium BC'</a>. <a type="property">Etching them while
       applying</a>
    <a type="object">an alkaline</a>
    <a type="object">solution</a> together <a type="property">with heat made the white
       ornamentation firm against corrosion</a>. <a type="property">The earliest finds of
       etched carnelian beads appeared</a> in <a type="object">Mesopotamia</a> and <a
       type="object">the Indus Valley</a>; indeed, the <a type="object">latter</a>
    <a type="property">seems to be the region of their origin</a>. <a type="object">In
       1930</a>, <a type="object">E. Mackay</a>
    <a type="property">travelled to</a>
    <a type="object">Sindh/lndia</a>
    <a type="property">to learn</a>
    <a type="property">the technique of etching carnelian beads</a>, and <a type="object"
       >three years later</a>
    <a type="property">an account of his experience was published</a> in <a type="object"
       >the journal “Man”;</a></p>
 <p>Fig. 3,a-c</p>
 <p><a type="object">Etched carnelian beads</a> from <a type="object">Cale Gar 1</a> at
       <a type="object">Vesnave</a>. <a type="object">Find nos.</a>
    <a type="object">1679b, 1106,1577.</a> L <a type="object">1.1 cm- 1.4 cm</a>. <a
       type="object">Scale</a>
    <a type="object">2:1</a>. Photos and drawings © <a type="object">DBM</a></p>
 <p>“First, <a type="object">he [the craftsman</a>] carefully <a type="property"
       >macerated</a>
    <a type="property">the tips of young shoots of a bush</a> that is common <a
       type="object">in Sindh</a> and the <a type="object">Panjab</a>, <a type="object"
       >capparis aphylla</a> (<a type="object">Sindhi: Kirar</a>), in <a type="object">a
       glazed pottery bowl</a>
    <a type="object">with the aid of a wooden stick with a rounded end.</a> (...) <a
       type="object">Sahebdino</a>--name of person-- [the <a type="object">craftsman</a>]
    then <a type="object">ground ordinary European</a></p>
 <p><a type="property">washing soda to a fine powder</a>, and <a type="property">after
       carefully mixing it with water in a cup</a>, <a type="property">he poured a small
       quantity on the Kirar together to a semi-fluid mass</a>. This the old man strained
       <a type="property">through a piece of linen into a large empty mussel-shell, and the
       paint was ready</a>. <a type="object">A piece of polished red carnelian</a>, such
    as <a type="object">a bead</a> or <a type="object">plaque</a> for <a type="object"
       >a talisman</a> or <a type="object">ring</a>, is <a type="property">then
       fixed</a>
    <a type="property">in a setting</a>
    <a type="property">made of clay mixed</a> with <a type="object">cotton-wool</a>.
    When the <a type="property">setting is dry, an inscription or design is</a></p>
 <p><a type="property">N. Bagherpour Kashaniwritten or drawn upon the exposed polished
       surface of the cornelian with a reed pen filled with the paint</a> (...) <a
       type="object">A sure and steady hand</a>
    <a type="property">is needed to prepare an elaborate design</a>, for <a
       type="property">re-touching can only be done successfully before baking</a>, and
    even then <a type="property">traces of bungling may be evident</a>. <a type="object"
       >The painted piece of cornelian</a>, still in its setting, is placed <a
       type="object">on a piece of sheet-iron</a> and laid on the embers of a charcoal fire
    until the design is perfectly dry. The cornelian is then buried in the embers and the
    fire slowly fanned for <a type="object">about five minutes</a>. <a type="property"
       >The stone on removal from the fire is taken from its clay setting and placed under a
       small cup to cool down gradually</a>. After about <a type="object">ten minutes</a>
    it <a type="property">is sufficiently cooled</a>, and at this stage <a
       type="property">Sahebdino rubbed his piece of cornelian briskly with a
    rag</a>(…)”</p>
 <p>N. Bagherpour Kashani</p>
 <p>There can be <a type="object">little room</a> for doubt that carnelian beads were <a
       type="property">etched by a similar process</a> in <a type="object">pre-Islamic
       times</a>. <a type="property">Besides technical capability</a>, <a
       type="property">learning from experience is essential to etch stones</a>: <a
       type="property">Not every carnelian is equally fireproof:</a> some stones <a
       type="property">turn pink</a>, <a type="property">white or even opaque</a>
    <a type="property">when heated too much or too long</a>.22</p>
 <p><a type="object">Dating the etched carnelian beads</a></p>
 <p><a type="object">At Vesnave</a>, <a type="object">seventeen ornamented carnelian
       beads</a>
    <a type="property">were found</a>. <a type="property">They vary from</a>
    <a type="object">fragmented</a> to <a type="object">the complete</a>, and from <a
       type="object">orange</a> to <a type="object">red</a> in colour. <a
       type="property">They correspond</a> to <a type="object">Beck’s Type I</a>
    <a type="property">with a white pattern on bare stone</a>.23 By comparing parallel
    finds from <a type="object">Hassani Mahale, Rudbar</a> --place-- and <a type="object"
       >Djuben</a> --place--, <a type="object">all sites</a> in <a type="object">the
       northern Iranian province of Gilan</a> --place--, <a type="property">it would appear
       that</a> the <a type="object">Cale Gar beads</a>
    <a type="property">with simple patterns of dots or lines</a> should be dated to the
       <a type="object">1st mill. BC</a>; but <a type="object">their rough shape</a>,
       <a type="object">careless decoration</a> and <a type="object">the colour of the
       stone</a>
    <a type="property">indicate a later dating</a>, i.e. <a type="object">at least the
       end of the 1st mill. BC</a> or <a type="object">the 1st centuries AD</a>.24 Other
    beads <a type="object">with zig-zags</a>, <a type="object">dots</a> and <a
       type="object">crosswise decorations</a>
    <a type="property">seem to belong to </a><a type="object">the centuries after
       Christ</a><a type="property">,</a> particularly <a type="object">the Sasanian
       period</a>, i.e. <a type="object">from the 3rd to the 7th century</a>.25 <a
       type="object">Analogies</a> are known from <a type="object">the region of
       Germi</a> in <a type="object">northern Iran</a> and from <a type="object">Ed-Dur
       in Arabia</a>.26</p>
 <p><a type="property">More elaborate</a>
    <a type="object">“plant” decorations</a>
    <a type="property">date from </a><a type="object">the late Sasanian</a><a
       type="property"> or </a><a type="object">early Islamic period</a>. At <a
       type="object">Vesnave,</a>
    <a type="object">two pieces</a> with such <a type="object">adornments</a>
    <a type="property">have been discovered</a>. Comparisons exist from a grave <a
       type="object">in Samad/Arabia</a></p>
 <p>Mackay 1933,145.</p>
 <p>Beck 1933, 384-388.</p>
 <p>Simpson 2003, 66.</p>
 <p>Egami et at. 1966, PI. 43 3-6; Tehran National Museum nos. 5858; 5857; 3815b.</p>
 <p>Personal observation in the Tehran National Museum no. 3487; De Waele/Haerinck 2006, 37
    Fig. 5,c.</p>
 <p>from <a type="object">Iranian Neysapur</a> --place-- and from <a type="object"
       >Crimea</a> --place--. <a type="property">Even though they are few in number</a>,
    the etched carnelian <a type="property">beads at Vesnave can be dated to a period</a>
    <a type="object">from the end of the 1st mill. BC to the early Islamic era.</a></p>
 <p><a type="object">Gold-in-glass beads</a></p>
 <p><a type="property">As impressive as the etched beads are the so-called gold-in-glass
       beads</a>, which <a type="property">have been discovered in</a>
    <a type="object">Cale Gar 1</a>. <a type="object">They have not been found in large
       numbers</a>, but <a type="property">they are beautifully produced pieces for which
       </a><a type="object">a special technique</a><a type="property"> was
    employed</a>: a <a type="object">gold foil</a>
    <a type="property">is applied on a glass core and then enclosed in translucent,
       colourless glass</a>. This <a type="property">manufacturing technique</a> gave
    them <a type="object">a fine appearance</a>, and <a type="property">analysing it
       helps to date them</a>. T<a type="property">hese beads were abundant</a> from <a
       type="object">Antiquity</a> to <a type="object">Medieval times</a>, and <a
       type="property">have been discovered</a> in <a type="object">Asia</a>, as well as
    in <a type="object">Europe,</a> including <a type="object">Great Britain</a>. On the
       <a type="object">island of Rhodes</a>, <a type="property">remains of unfinished
       gold-in-glass beads were found</a> and <a type="property">dated to</a>
    <a type="object">the late 3rd cent. BC.</a></p>
 <p><a type="object">G. Boon</a> and <a type="object">Spaer</a>
    <a type="property">suggest</a>
    <a type="object">Egypt</a> as <a type="property">the region of origin for </a><a
       type="object">the gold-in-glass method </a><a type="property">of manufacture</a>,
    while <a type="object">D. Barag</a>
    <a type="property">argues that</a>
    <a type="property">it emanated from </a><a type="object">Phoenician roots </a><a
       type="property">and other scholars prefer </a><a type="object">India</a>. <a
       type="property">As an early instance of gold-in-glass manufacturing</a>, <a
       type="property">the </a><a type="object">so-called Canosa Group </a><a
       type="property">of </a><a type="object">the 1st half of the 3rd cent. BC</a>
    <a type="property">has been considered by</a>
    <a type="object">several scholars</a>. <a type="property">This refers to two well
       preserved </a><a type="object">glass bowls </a><a type="property">with </a><a
       type="object">decorated golden inlays</a>, <a type="property">found</a>
    <a type="object">alongside eight glasses</a>, i<a type="object">n a grave in southern
       Italy</a>, <a type="property">having probably been produced</a> i<a type="object"
       >n a Ptolemaic workshop</a>. According to <a type="object">D. Harden</a> and <a
       type="object">A. Oliver,</a>
    <a type="property">no </a><a type="object">gold-in-glass beads </a><a
       type="property">have been found </a><a type="object">of an earlier date </a><a
       type="property">than the </a><a type="object">Canosa Group</a>. This fact,
    together with the remains of the glass workshop at <a type="object">Rhodes</a> that
    date to the <a type="object">late 3rd century BC</a>, <a type="property">implies that
       </a><a type="object">gold-in-glass beads </a><a type="property">were not produced
       </a><a type="object">before the 3rd cent. BC</a><a type="property">, in
       particular</a>
    <a type="object">the late 3rd century.</a> As mentioned above, <a type="property"
       >such beads continued to be produced</a> into <a type="object">medieval times</a>,
    though <a type="property">evidence for </a><a type="object">continuity of manufacture
       </a><a type="property">in </a><a type="object">the Islamic Near East </a><a
       type="property">is scarce.</a></p>
 <p><a type="object">The gold-in-glass technique</a></p>
 <p><a type="object">Special skill and experience</a>
    <a type="property">were needed to produce</a>
    <a type="object">gold-in-glass beads</a>. The <a type="property">craftsman had to put
       a</a>
    <a type="object">flimsy</a>
    <a type="property">gold sheet on a glass core</a> and <a type="object">cover</a><a
       type="property"> this combination with </a><a type="object">translucent glass</a>.
       <a type="object">The two glass layers</a>
    <a type="property">should then respond equally to heat</a>, i.e. they <a
       type="property">should have </a><a type="object">the same coefficient </a><a
       type="property">of expansion</a>; <a type="property">otherwise the glass would
       break during the process</a>. <a type="property">Another challenge was not to harm
       the </a><a type="object">gold foil </a><a type="property">that could be as thin
       as </a><a type="object">0.0001 mm</a><a type="property">, and so was very easily
       damaged</a>.35 According to <a type="object">Spaer</a>, <a type="property"
       >earlier beads were finished individually, and show </a><a type="object">larger
       string-holes </a><a type="property">and </a><a type="object">a thicker exterior
       glass layer</a>; these were of <a type="object">better quality</a>. <a
       type="property">In later times beads were treated with </a><a type="object">tools
       </a><a type="property">and probably </a><a type="object">moulds</a>.36 <a
       type="object">Grooves in the glass </a><a type="property">point to </a><a
       type="object">fabrication of the beads </a><a type="property">by drawing </a><a
       type="object">glass tubes</a>: “<a type="property">A </a><a type="object">drawn
       tube </a><a type="property">was, after cooling, covered with </a><a type="object"
       >a very thin layer of metal foil</a><a type="property">, probably attached with
       </a><a type="object">the aid of an adhesive</a>. <a type="property">Another,
       slightly larger, </a><a type="object">pre-manufactured tube </a><a
       type="property">was then slipped over the first.</a>”. <a type="property">This
       </a><a type="object">gold-in-glass tube </a><a type="property">was then divided
       by a tool into </a><a type="object">single beads</a><a type="property">,</a> or
       <a type="property">into beads with two or more segments</a>. <a type="object"
       >Spaer</a> writes furthermore: “(...) There is nonetheless a clear indication that
       <a type="property">the beads finished individually by hot-working</a> are <a
       type="object">Hellenistic</a> and probably, at least in part, also <a type="object"
       >early Roman</a>. Beads finished by the use of <a type="object">segmenting
       molds</a> are mainly <a type="object">Roman or later</a> ”38</p>
 <p></p>