/* html {
  position: relative;
  min-height: 100%;
} */

#xmlView {
  overflow-y: scroll; 
  overflow-x: hidden; 
  text-align: justify;
  font-size: 70%;
  height: 45vh;
}

#fascimileView {
  overflow-y: scroll; 
  overflow-x: hidden; 
  height: 45vh;
}

#graphView {
  height: 55vh;
}


.footer {
  text-align: center;
  position: fixed;
  bottom: 0;
  width: 100%;
  /* Set the fixed height of the footer here */
  height: 40px;
  line-height: 40px; /* Vertically center the text there */
  background-color: #eee;
  font-size: 12px;
}


.footer a {
  color: #333;
}

.footer img {
  margin-left: 5px;
  margin-top: -3px;
  height: 18px;
}

.footer > .container {
  padding-right: 15px;
  padding-left: 15px;
}

code {
  font-size: 70%;
}
