<!-- <header>
  <nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark">
    <a class="navbar-brand" href="#">
      VisualizeRDF-XML
    </a>
  </nav>
</header> -->

<!-- CONTE -->
<main role="main" id="maincontent" class="container-fluid">
  <div class="row">
    <!-- XML VIEW -->
    <div class="col" id="xmlView">
      <app-textview></app-textview>
    </div>
    <!-- FASCIMILE VIEW -"PDF" --> 
    <div class="col" id="fascimileView">
      <pdf-viewer [src]="pdfSrc" 
                  [zoom] = "0.5"
                  >
      </pdf-viewer>
    </div>
    <!-- ...Line-Break... -->
    <div class="w-100"></div>
    <!-- GRAPH VIEW -->
    <div class="col" id="graphView">
        <app-graphview></app-graphview>
    </div>
  </div>
</main>



<footer class="footer">
  <div class="container">
    <span class="text-muted">
      2018 <a href="http://www.hki.uni-koeln.de">Institute for Digital Humanities, University of Cologne</a>
      <a href="https://github.com/DH-Cologne/VisualizeRDF-XML"><img src="assets/img/github-tiny.png" alt="GitHub Repository"></a>
    </span>
  </div>
</footer>
