/* html {
  position: relative;
  min-height: 100%;
} */

#xmlView {
  overflow-y: scroll; 
  overflow-x: hidden; 
  text-align: justify;
  text-align: center;
  font-family: 'Gentium Book Basic';
  font-size: 75%;
  height: 45vh;
  background-color: antiquewhite;
  box-shadow: 0px 10px 40px rgba(0,0,0,.8);
}

#fascimileView {
  overflow-y: scroll; 
  overflow-x: hidden; 
  height: 45vh;
  box-shadow: 0px 10px 40px rgba(0,0,0,.8);
}

#graphView {
  height: 55vh;
  /* background-color: rgb(253, 233, 190); */
  
  /* -moz-box-shadow:    inset 0 0 10px #000000;
  -webkit-box-shadow: inset 0 0 10px #000000;
  box-shadow:         inset 0 0 10px #000000; */
  
  -moz-box-shadow: 0 0 5px 5px #888;
  -webkit-box-shadow: 0 0 5px 5px#888;
  box-shadow: 0 0 5px 5px #888;
}


.footer {
  text-align: center;
  position: fixed;
  bottom: 0;
  width: 100%;
  /* Set the fixed height of the footer here */
  height: 40px;
  line-height: 40px; /* Vertically center the text there */
  background-color: #eee;
  font-size: 12px;
}


.footer a {
  color: #333;
}

.footer img {
  margin-left: 5px;
  margin-top: -3px;
  height: 18px;
}

.footer > .container {
  padding-right: 15px;
  padding-left: 15px;
}

code {
  font-size: 70%;
}
