
.link { stroke: #999; stroke-opacity: .6; stroke-width: 1px; }

.links line {
  stroke: #999;
  stroke-opacity: 0.6;
}

.nodes circle {
  stroke: #fff;
  stroke-width: 1.5px;
  cursor: pointer;
}


.node {
  cursor: pointer;
}

svg{
  width: 100%;
  height: 100%;
}